html {
  font-family: 'Nunito', sans-serif;
  background-image: url("https://cdn.glitch.global/077a5453-5696-405f-8bda-f147c7634f6c/thumbnails%2Fretina_wood.png?1663886779354");
  background-repeat: repeat;
  text-align: center;
}

.title {
  font-family: 'Baloo 2', cursive;
}

.picrew {
  border-radius: 200px; 
  box-shadow: 1px 4px 10px rgba(0, 0, 0, .5);
}

.projects {
  margin: 0px auto; /* this centers a div */
  padding: 10px;
  border-radius: 50px; 
  height: 300px;
  width: 300px;
  background-color: hsl(100, 0%, 80%);
  box-shadow: 1px 4px 10px rgba(0, 0, 0, .5);
}

.polaroid {
  border: 3px solid magenta;
}

/* my css rules */
.h1 {
  text-align: center; 
  font-style: italic; 
  font-weight: bold; 
}

.intro {
  display: inline-block;
  border: solid 3px black; 
  border-radius: 3px;
  background-color: lightgray;
}

.contact-info {
  text-align: left; 
  font-size: 30px;
}

.form {
  margin-left: 500px;
  margin-top:50px;
  background-color: lightgreen;
  border: 3px solid darkgreen; 
  width: 500px;
  height: 600px;
}

.form p {
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

#root img {
  background-color: lightcoral;
  border-radius: solid 3px black; 
  border-radius: 10px 10px 5px 5px 
}